<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">AIOManga</a>

    <a (click)="toggle()" role="button" class="navbar-burger" class.is-active="$open" aria-label="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" class.is-active="$open">
    <div class="navbar-start">
      <a class="navbar-item" href="/search">Search</a>
    </div>
  </div>
</nav>
